*.pyc
.cache
.coverage
.flake8.log
.hgignore
.DS_Store
__pycache__
build
dist
docs/0.2.0
docs/site
docs/site/*
conficus.egg-info/
session.txt
site/
src/conficus.egg-info
src/conficus.egg-info/*
.tox
lastfailed
docs/_build
image001.jpg@01D3B6FD.122F57B0
dover-requirements.txt
ipython-output.ipy
ipython-output.py
.pytest_cache
johnny-automatic-scroll-2.svg
workbench/*.svg
conficus_1_a.idraw
Scroll5.png
